**/build*/
sdkconfig
sdkconfig.old
docker/config/*
docker/local
**/__pycache__/*
**/.kdev4/*
/software/capture/espcam/
/software/capture/webcam/
**/solar_concentrator_manip*/**/camera_capture*
**/solar_concentrator_manip*/**/target*
/software/supervisor_controller/compile_commands.json
/software/supervisor_controller/components/web_custom/www/index_ov2640.html.gz
/software/supervisor_controller/Testing/Temporary
